/* Light Theme (Default) */
/* backdrop-filter: blur(10px); */
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --blur-bgcolor: rgba(255, 255, 255, 0.014);
  --formborder-color:rgb(49, 50, 51);
}

/* Dark Theme */
[data-theme="dark"] {
  --bg-color: #000000;
  --text-color: #ffffff;
  --blur-bgcolor: rgba(18, 18, 18, 0.26);
  --formborder-color:rgb(24, 23, 23);
}

/* Apply Variables */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
